/* Akilar糖果屋自定义样式 */

/* 用于设置 ©2020 - 2021 By Cai Lai 下外边距*/
#footer-wrap .copyright{
margin-bottom: 10px;
}


/* 全局背景透明渐变 */
#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    background: var(--light_bg_color)
}
#aside-content .card-widget {
    background: var(--light_bg_color)
}
#web_bg {
    background: linear-gradient(90deg,rgba(247,149,51,.1),rgba(243,112,85,.1) 15%,rgba(239,78,123,.1) 30%,rgba(161,102,171,.1) 44%,rgba(80,115,184,.1) 58%,rgba(16,152,173,.1) 72%,rgba(7,179,155,.1) 86%,rgba(109,186,130,.1))
}


/* 添加图标默认样式和振翅蝴蝶动画 */
/*iconfont默认样式*/
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    }
  /* 页脚蝴蝶振翅动画 */
  .copyright svg{
    animation:butterfly 1s linear infinite alternate;
  }
  @keyframes butterfly {
    from {
      transform:rotateY(70deg);
    }
    to {
      transform:rotateY(0deg);
    }
  }


/* 时间轴生肖美化方案 */
svg.icon {
  /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
   width: 1em; height: 1em;
   /* width和height定义图标的默认宽度和高度*/
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}